*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Google font Link */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Header CSS Start  */
.container
{
    display: grid;
    grid-template-columns: 1fr 2fr 0.6fr;
    height: 80px;
    color: rgb(255, 255, 255);
    font-family: "roboto";
    background-color: white;
    width: 100%;
    border-bottom: 0.7px solid rgb(106, 102, 102);
    position: fixed;
    top: 0px;
    overflow: hidden;
     z-index: 10;
    
}
.nav-1 a
{
    float: right;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: "roboto";
    font-size: 22px;
    box-shadow: -4px 4px 30px rgb(197, 214, 214);
 
}
.nav-1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
}
.nav-1 a:hover
{
   
    color: brown;
    align-items: center;
    font-size: 26px;
  
}
/* Logo CSS Property */
.logo
{
    background-image: url("../images/nursanalam-removebg-preview.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-top: 11px;
    box-shadow: -2px 4px 30px rgb(90, 191, 191);

}
.Download-resume a
{
    text-decoration: none;
    font-size: 17px;
    color: white;
    
}
.Download-resume
{
    display: flex;
    text-align: center;
    align-items: center;
   
}
.Download-resume button
{
    background-color: blue;
    border: none;
    height: 35px;
    width: 170px;
    border-radius: 5px;

}
.Download-resume button:hover
{
    background-color: rgb(243, 205, 15);
    color: rgb(229, 14, 14);
    cursor: pointer;
}
/* Header CSS End */


/* Main Section-1 Start */

#home
{
    height: 700px;
    top: 0px;
    background-color: rgb(234, 204, 147);
    border-bottom: 2px solid rgb(232, 217, 164);
    overflow: hidden;
    
}
.content-1
{
    display: grid;
    grid-template-columns: 2fr 2.2fr;
    overflow: hidden;

}

.content-4
{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: url("../images/nursanalam-removebg-preview.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    border: 2px solid rgb(206, 201, 201);
    padding: 30px;
    margin-left: 40px;
    margin-top: 120px;
    border: 2px solid rgb(215, 10, 10);
    box-shadow: -2px 4px 40px rgb(205, 112, 19);
}
.content-3
{
    padding-top: 35%;
    padding-left: 10%;
    overflow: hidden;
}
.split-text-container {
    display: flex;
    font-size: 3rem;
    font-weight: bold;
    overflow: hidden;
}

.text-part {
    display: inline-block;
    position: relative;
    transform: translateX(0);
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    color: black;
    overflow: hidden;
    
}
.text-part.left {
    transform: translateX(-200%);
    animation-name: slide-in-left;
}

.text-part.right {
    transform: translateX(200%);
    animation-name: slide-in-right;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}
#about 
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px solid green;
    
}

#about-me
{
    height: 600px;
    width: auto;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.about-1
{
    height: 400px;
    width: 400px;
    background-image: url("../images/download.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2ps solid green;
    border-radius: 8px;
    margin-top: 120px;
    margin-left: 70px;
    box-shadow: -2px 4px 40px rgb(0, 0, 0);
}
.about-2
{
    
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    font-family: "roboto";
    font-size: 19px;
    margin: 10px;
    color: rgb(9, 13, 13);
    
}
.pp::before { 
    content: "About" ;
    background-color: yellow;
    color: red;
    font-weight: bold;
    border-radius: 5px 0px 0px 5px;
  }
  .pp::after{
    content: "Me";
    background-color: green;
    color: red;
    font-weight: bold;
    border-radius:0px 5px 5px 0px
  }
#section-3
{
    display: grid;
    background-color: burlywood;
    height: 300px;
    grid-template-columns: 2fr 2fr 2fr;
    

   
}
.loader-1{
    width: 25px;
    height: 25px;
    aspect-ratio: 1;
    margin-top: 29px;
    left: 10%;
    border-radius: 50%;
    border: 6px solid lightblue;
    border-right-color: rgb(253, 5, 5);
    animation: l2 1s infinite linear;
    line-height: 40px;
  }
  @keyframes l2 {to{transform: rotate(1turn)}}
.loader-2 {
    width: 25px;
    height: 25px;
    aspect-ratio: 1;
    margin-top: 27px;
    left: 10%;
    border-radius: 50%;
    border: 6px solid lightblue;
    border-right-color: rgb(86, 255, 2);
    animation: l2 1s infinite linear;
  }
  @keyframes l2 {to{transform: rotate(1turn)}}
.loader-3{
    width: 25px;
    height: 25px;
    aspect-ratio: 1;
    margin-top: 27px;
    left: 10%;
    border-radius: 50%;
    border: 6px solid lightblue;
    border-right-color: rgb(69, 6, 255);
    animation: l2 1s infinite linear;
    
    
  }
  @keyframes l2 {to{transform: rotate(1turn)}}



#my-skills
{
    height: 300px;
    width:100%;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    padding-top: 30px;
    flex-direction: column;
    color: white;
    font-size: 30px;
   
}
.my-project p{
   
    font-size: 28px;
    
}

.pop{
    display: flex;
   
}
.pop progress
{
   margin-top: 27px;
   margin-left: 10px;
   width: 200px;
   height: 20px;
   border-radius: 10px;

   background-color: brown;
   
   
}
p{
    margin-top: 30px;
    margin-left: 10px;
    
}

.skills-part
{
    display: flex;
    grid-template-rows: 1fr 1fr 1fr;
    height: 450px;
    background-color: burlywood;
    padding: 60px;
    
}
.skills-part-1
{
    height: 300px;
    width: 350px;
    border: 2px solid green;
    margin-left: 10px;
    background-color: rgb(157, 238, 218);
    border-radius: 20px 0px 20px 0px;
}
.skills-part-2
{
    height: 300px;
    width: 350px;
    border: 2px solid green;
    margin-left: 20px;
    background-color: rgb(176, 176, 239);
    border-radius: 0px 20px 0px 20px;

}
.skills-part-3
{
    height: 300px;
    width: 350px;
    border: 2px solid green;
    margin-left: 20px;
    background-color: rgb(229, 220, 208);
    border-radius: 20px 0px 20px 0px;
}

/* Section-4 */


#My-Project
{
    height: 300px;
    width:100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    padding-top: 30px;
    flex-direction: column;
    color: rgb(0, 0, 0);
    font-size: 30px;
   
}
#My-Project p{
   
    font-size: 28px;
    color: rgb(233, 12, 64);
    
}
#section-4
{
    height: 700px;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
}
.project-1
{
    height: 400px;
    width: 300px;
    border: 2px solid green;
   margin-left: 30px;
}
.project-img
{
    height:300px;
    width: 300px;
    border: 2px solid green;
}







/* Contact Section */

#contact
{
    height: 500px ;
    background-color:burlywood;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.contact-10
{
    line-height: 40px;
    margin-top: 90px;
    margin-left: 40px;
}
.contact-10 i{
    color: rgb(18, 60, 105);
    height: 40px;
    width: 40px;

}


.contact-10 h1 {
    width: 140px;
    height: 40px;
    background: red;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
    margin-left: 50px;
    border-radius: 8px;
    
    
  }
  
  .contact-10 h1:hover {
    width: 180px;
    color: white;
    font-size: 35px;
    overflow: hidden;

  }
.form-1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.form-1 input{
    line-height: 45px;
    width: 550px;
    color: black;
    border: 2px solid red;
    border-radius: 5px;

}
.form-1 button

{
    height: 40px;
    width: 100px;
    float: left;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background-color: blue;
    border: none;
    border-radius: 2px ;
    
}
.form-1 button:focus
{
    background-color: rgb(0, 0, 0);
}


.footer-1
{
    height: 100px;
    background-color: black;
    border-top: 2px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}